<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link href="styles.css" rel="stylesheet" />
    <link href="../../globals.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Glassmorphism</title>
  </head>
  <body>
    <header class="nav flex row">
      <a href="/src">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M15 6l-6 6l6 6" />
        </svg>
      </a>
      <div class="title">Glassmorphism</div>
    </header>
    <main class="background">
      <div class="container flex col wrap items-center">
        <div class="card glass">
          <div class="card-title">Card Header</div>
          <div class="card-content p-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, accusantium cum molestias earum reprehenderit corrupti dolor quas, ratione, repudiandae architecto minus! Distinctio tenetur voluptatem officia ullam recusandae tempora! Maxime deleniti officiis quos praesentium perspiciatis, quia voluptatum labore eaque quam cum!</div>
        </div>
        <div class="card glass">
          <div class="card-title">Card With Image</div>
          <div class="card-content">            
              <img src="/src/assets/wave.png" style="width:100%; height: 200px; object-fit: cover;" alt="wave">
              <div class="p-sm">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque voluptatem odio, nisi velit qui, est assumenda quos enim, impedit magni aperiam animi nostrum dolor esse! Non magni adipisci deleniti.
</div>
            </div>
        </div>
        <button class="glass">Button Content</div>
        </div>
    </main>
  </body>
</html>
