<!-- Based on https://piccalil.li/blog/how-i-build-a-button-component/ -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="styles.css" rel="stylesheet" />
    <link href="../../globals.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Basic Button</title>
  </head>
  <body>
    <main class="container flex col">
      <button class="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" /></svg
        >icon button
      </button>
      <button class="button">default button</button>
      <button class="button" wide>full width button</button>
      <button class="button" data-variant="text">Close</button>
      <button class="button" data-variant="danger">Delete my account</button>
      <button class="button" data-variant="outline">Delete my account</button>
      <a class="button" href="#">I'm a link</a>
    </div>
  </body>
</html>
