<!-- Based on https://piccalil.li/blog/how-i-build-a-button-component/ -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="styles.css" rel="stylesheet" />
    <link href="../../globals.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Basic Button</title>
  </head>
  <body>
    <div class="flex col">
      <button class="button">I'm a button</button>
      <a class="button" href="#">I'm a link</a>
    </div>
  </body>
</html>
