.button {
  --button-padding: 0.7rem 1.4rem;
  --button-margin: 1rem;
  --button-gap: 1em;
  --button-bg: var(--color-primary);
  --button-color: var(--color-bg);
  --button-border-width: 3px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0;
  --button-font-size: 0.8em;

  background-color: var(--button-bg);
  color: var(--button-color);
  margin-inline: var(--button-margin, 1rem);
  padding: var(--button-padding);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--button-gap);
  cursor: pointer;
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);
  transition: 200ms all ease-in-out;

  font-size: var(--button-font-size, 1em);
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: 3px;

  &:hover {
    --button-border-color: var(--color-primary);
    --button-bg: var(--color-bg);
    --button-color: var(--color-primary);
  }

  &:active {
    transform: scale(95%);
  }
}

.wide {
  width: 100%;
}

.button[data-variant="text"] {
  --button-bg: transparent;
  --button-color: var(--color-primary);
  overflow: hidden;
  position: relative;

  &:hover {
    --button-bg: var(--color-bg);
    --button-color: var(--color-primary);
    --button-hover-bg: transparent;
    --button-hover-color: var(--color-primary);
    --button-border-color: var(--button-bg);
  }
}

.button[data-variant="text"]::after {
  content: "";
  background-color: var(--color-primary);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 200ms ease-in;
}

.button[data-variant="text"]:hover::after {
  transform: scaleX(1);
}

.button[data-variant="danger"] {
  --button-bg: red;
  --button-border-color: #710000;

  &:hover {
    animation: shake 0.5s;
    animation-iteration-count: 2;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.button[data-variant="outline"] {
  --button-bg: transparent;
  --button-color: var(--color-primary);
  --button-border-color: var(--color-primary);
  overflow: hidden;
  position: relative;

  &:hover {
    --button-bg: var(--color-primary);
    --button-color: var(--color-bg);
    --button-hover-bg: transparent;
    --button-hover-color: var(--color-primary);
    --button-border-color: var(--button-bg);
  }
}
