<!-- Based on https://piccalil.li/blog/how-i-build-a-button-component/ -->
<!DOCTYPE html>

<html lang="en" data-theme="light">
	<head>
		<link href="styles.css" rel="stylesheet" />
		<link href="../../globals.css" rel="stylesheet" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
			rel="stylesheet"
		/>
		<title>{Component name}</title>
	</head>
	<body>
		<header class="nav flex row">
			<a href="/CSS-Playground/">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M15 6l-6 6l6 6" />
				</svg>
			</a>
			<div class="title">{Component name}</div>
		</header>
		<main>
			<div class="container">
				<h1>Progress Bar Demo</h1>
				<div class="space-md"></div>
				<div class="content">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
					expedita necessitatibus itaque ullam unde ea voluptate totam. Vitae,
					esse deserunt suscipit facere perferendis hic beatae obcaecati?
					Quibusdam expedita repudiandae explicabo, maxime, facere esse magnam
					adipisci illum est sint sit eius similique delectus reiciendis, veniam
					repellat corporis incidunt ab. Quod iusto facere consequatur minus
					sequi natus mollitia est pariatur? Itaque fugit, possimus eius est
					obcaecati delectus alias nisi nam consequuntur ab magnam quidem iusto
					nemo in deserunt id commodi ut debitis ullam officiis quas rem odio
					voluptate accusantium? Ut reiciendis architecto itaque mollitia
					dolorem odio, iusto, quam minus laboriosam quidem cupiditate error
					dolores labore vel ipsa harum? Tenetur sapiente ea explicabo, quidem
					earum eius a quos aliquam architecto numquam veritatis quae voluptate
					quia quis esse placeat accusantium adipisci ad! Nisi quam enim
					provident laudantium, voluptas, ad assumenda laboriosam unde dolores
					expedita perferendis soluta ducimus? Placeat error magnam, debitis
					sint non quidem, excepturi vel nisi reiciendis, officiis libero amet
					soluta illo dolores tempore earum quas nobis dicta. Dolorem ipsam quas
					labore ratione sequi voluptatum at molestiae. Velit consequatur
					quibusdam delectus exercitationem cupiditate similique eveniet culpa
					ut aspernatur et voluptatem voluptatum quia saepe non ratione neque
					provident itaque praesentium, animi quasi commodi. Ratione debitis
					impedit dolorum repudiandae iusto fugiat, ea nostrum quibusdam
					corporis saepe quaerat asperiores accusantium nesciunt id illum,
					labore maxime at deserunt eos eligendi obcaecati! Eius quam fugiat
					vero ratione voluptatum dolorem accusamus enim voluptates amet? Beatae
					tempora quas nobis tenetur itaque omnis nemo temporibus eaque labore
					aperiam. Quod natus nam, doloribus modi quae quam velit facere omnis
					provident tempore accusamus! Numquam accusamus, voluptates veritatis
					labore saepe vel, atque modi quo praesentium natus mollitia libero
					fugiat quos quasi a illo blanditiis. Dignissimos corporis quia,
					corrupti veniam eius magnam distinctio. Sed quis sunt, veritatis rem
					perferendis illum voluptatum esse asperiores debitis? Quos suscipit
					eos deserunt id nisi expedita, vero, deleniti sequi aliquam eligendi
					quasi officiis, veritatis doloribus illum? Aliquam possimus sit quae a
					labore? Veritatis, odit cupiditate expedita provident, et minus
					aliquid fugiat, error autem libero repellendus quis quae quod quasi.
					Ut iste illo dolorum voluptatum odit tempora architecto ipsa sequi
					optio reprehenderit dolor vitae quod velit laborum omnis expedita,
					assumenda molestiae voluptatibus consequuntur repellendus? Nam
					quibusdam mollitia, sed nemo, voluptatem ipsum id distinctio
					necessitatibus, explicabo consequatur odit sit fuga ex esse! Atque
					doloremque vero, debitis enim sint corrupti. Officiis adipisci porro
					voluptatem similique incidunt ratione illo quis, quo magnam molestias
					rerum beatae ullam eligendi nemo quod illum id voluptates, praesentium
					ab, doloribus architecto assumenda accusantium. Quidem, ut! Voluptatum
					neque rem quam ratione rerum labore necessitatibus cupiditate animi ab
					ad delectus facere a, provident odit ullam numquam alias, sunt
					possimus architecto pariatur ut deserunt. Architecto nostrum natus ea
					velit quam, nam pariatur amet aperiam exercitationem odit doloribus,
					dolorum culpa mollitia ducimus! Sequi, atque? Debitis itaque minus
					ipsa! Quas, libero temporibus voluptas molestiae voluptatum ut
					laudantium distinctio. Dolorem quibusdam hic placeat? Minima facilis
					eaque similique dolorem voluptatum laboriosam, aspernatur atque totam
					debitis sed, temporibus iste alias nam perspiciatis aliquam porro
					eius! Ipsa, itaque!
				</div>
			</div>
		</main>
		<script src="script.js"></script>
	</body>
</html>
