*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
}

:root {
  --color-primary: black;
  --color-bg: white;
}

:root[data-theme="dark"] {
  --color-primary: white;
  --color-bg: black;
}

.container {
  padding: 5rem;
  max-width: 600px;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
}

.col {
  flex-direction: column;
}
