.main-title {
  width: 100%;
  text-align: center;
}

.component-link {
  color: var(--color-primary);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 300ms ease-out;
}

.component-link:hover {
  background: linear-gradient(67deg, var(--color-primary), purple);
  color: var(--color-bg);
}
